<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.personal.blog.mapper.BlogRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="org.personal.blog.pojo.entity.BlogRolePermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_permission_id" property="rolePermissionId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="permission_id" property="permissionId" jdbcType="INTEGER" />
  </resultMap>

  <!--批量插入-->
  <insert id="insertBatch" parameterType="java.util.ArrayList">
    insert into
    blog_role_permission(role_id,permission_id)
    values <foreach collection="list" item="item" index="index" separator=",">
    (
    #{item.roleId},
    #{item.permissionId}
    )
  </foreach>

  </insert>
</mapper>
