<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.personal.blog.mapper.BlogPermissionMapper" >
  <resultMap id="BaseResultMap" type="org.personal.blog.pojo.entity.BlogPermission" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
    <result column="permission_icon" property="permissionIcon" jdbcType="VARCHAR" />
    <result column="permission_note" property="permissionNote" jdbcType="VARCHAR" />
  </resultMap>
</mapper>