<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.personal.blog.mapper.BlogRoleMapper" >
  <resultMap id="BaseResultMap" type="org.personal.blog.pojo.entity.BlogRole" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>

  <!--批量插入-->
  <insert id="insertBatch" parameterType="java.util.ArrayList">
    insert into
    blog_role(role_name)
    values <foreach collection="list" item="item" index="index" separator=",">
    (
    #{item.roleName}
    )
  </foreach>

  </insert>
</mapper>
